<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width-device-width, initial-scale=1.0"/>
        <title>Movie Tickets, Plays, Sports, Events & Cinemas near Kolkata</title>
        <link rel="stylesheet" href="/public/style.css"/>
    </head>
    <body>
        <section class="main-body">
            <section class="top-Navbar">
                <div class="top-Navbar-elements">
                    <img src="/public/images/bookmyshow.png" alt="bookmyshow logo">
                    <input type="text" placeholder="Search for movies, events, plays, sports and activities">
                    <label for="location"></label>
                    <select name="location" id="location">
                        <option value="kolkata">Kolkata</option>
                        <option value="mumbai">Mumbai</option>
                        <option value="banglore">Banglore</option>
                        <option value="chennai">Chennai</option>
                        <option value="hyderabad">Hyderabad</option>
                        <option value="delhi">Delhi</option>
                    </select>
                    <button id="sign-in">Sign in</button>

                    <div class="w3-main" style="margin-right:200px">
                        <div class="w3-teal">
                            <button class="w3-button w3-teal w3-xlarge w3-right w3-hide-large"
                            id="sidenav-open" onclick="w3_open()">&#9776;</button>
                        </div>
                    </div>
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="w3_close()">&times;</a>
                        <a href="#">Notifications</a>
                        <a href="#">Your orders</a>
                        <a href="#">Account Settings</a>
                        <a href="#">Help & Support</a>
                    </div>
                </div>
            </section>
            <section class="secondary-Navbar">
                <div class="secondary-Navbar-elements">
                    <div>
                        <a href="#">Movies</a>
                        <a href="#">Stream</a>
                        <a href="#">Events</a>
                        <a href="#">Play</a>
                        <a href="#">Sports</a>
                        <a href="#">Activities</a>
                    </div>
                    <div>
                        <a href="#">ListYourShows</a>
                        <a href="#">Corporates</a>
                        <a href="#">Offers</a>
                        <a href="#">Gift Cards</a>
                    </div>
                </div>
            </section>
            <section class="carousel">
              <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides">
                  <div class="numbertext">1 / 2</div>
                  <img src="/public/images/carousel1.jpeg" style="width:100%" id="carousel1">
                </div>

                <div class="mySlides">
                  <div class="numbertext">2 / 2</div>
                  <img src="/public/images/carousel2.jpeg" style="width:100%">
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
              </div>
              <br>

              <!-- The dots/circles -->
              <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
              </div>
            </section>
            <section class="movie-cards">
              <div class="card-heading">
                <div class="card-heading-div1"><h2>Recommended Movies</h2></div>
                <div class="card-heading-div2"><a href="#">See All ></a></div>
              </div>
              <section class="movie-section">
                <div class="card">
                <img src="/public/images/movie-poster1.jpeg" alt="Denim Jeans" style="width:100%">
                <h3 class="movie-name">Darkness Descends</h3>
                <p><i>Drama/Thriller</i></p>
              </div>
              <div class="card">
                <img src="/public/images/movie-poster2.jpeg" alt="Denim Jeans" style="width:100%">
                <h3 class="movie-name">Eagle</h3>
                <p><i>Action/Thriller</i></p>
              </div>
              <div class="card">
                <img src="/public/images/movie-poster3.jpeg" alt="Denim Jeans" style="width:100%">
                <h3 class="movie-name">Hanuman</h3>
                <p><i>Action/Fiction</i></p>
              </div>
              <div class="card">
                <img src="/public/images/movie-poster4.jpeg" alt="Denim Jeans" style="width:100%">
                <h3 class="movie-name">Eleven</h3>
                <p><i>Drama/Thriller</i></p>
              </div>
              <div class="card">
                <img src="/public/images/movie-poster5.jpeg" alt="Denim Jeans" style="width:100%">
                <h3 class="movie-name">Pottel</h3>
                <p><i>Drama/Thriller</i></p>
              </div>
              </section>
            </section>
        </section>
        <script src="/script.js"></script>
        <script>
            function w3_open() {
              document.getElementById("mySidenav").style.width = "250px";
            }

            function w3_close() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
        <script>
  let slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    const slides = document.getElementsByClassName("mySlides");
    const dots = document.getElementsByClassName("dot");
    if (n > slides.length) slideIndex = 1;
    if (n < 1) slideIndex = slides.length;

    for (let i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (let i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }

    slides[slideIndex - 1].style.display = "block";
    dots[slideIndex - 1].className += " active";
  }
</script>
    </body>
</html>