<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width-device-width, initial-scale=1.0"/>
        <title>Movie Tickets, Plays, Sports, Events & Cinemas near Kolkata</title>
        <link rel="stylesheet" href="/public/style.css"/>
    </head>
    <body>
        <section class="main-body">
            <section class="top-Navbar">
                <div class="top-Navbar-elements">
                    <img src="/public/images/bookmyshow.png" alt="bookmyshow logo">
                    <input type="text" placeholder="Search for movies, events, plays, sports and activities">
                    <label for="location"></label>
                    <select name="location" id="location">
                        <option value="kolkata">Kolkata</option>
                        <option value="mumbai">Mumbai</option>
                        <option value="banglore">Banglore</option>
                        <option value="chennai">Chennai</option>
                        <option value="hyderabad">Hyderabad</option>
                        <option value="delhi">Delhi</option>
                    </select>
                    <button id="sign-in">Sign in</button>

                    <div class="w3-main" style="margin-right:200px">
                        <div class="w3-teal">
                            <button class="w3-button w3-teal w3-xlarge w3-right w3-hide-large"
                            id="sidenav-open" onclick="w3_open()">&#9776;</button>
                        </div>
                    </div>
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="w3_close()">&times;</a>
                        <a href="#">Notifications</a>
                        <a href="#">Your orders</a>
                        <a href="#">Account Settings</a>
                        <a href="#">Help & Support</a>
                    </div>
                </div>
            </section>
            <section class="secondary-Navbar">
                <div class="secondary-Navbar-elements">
                    <div>
                        <a href="#">Movies</a>
                        <a href="#">Stream</a>
                        <a href="#">Events</a>
                        <a href="#">Play</a>
                        <a href="#">Sports</a>
                        <a href="#">Activities</a>
                    </div>
                    <div>
                        <a href="#">ListYourShows</a>
                        <a href="#">Corporates</a>
                        <a href="#">Offers</a>
                        <a href="#">Gift Cards</a>
                    </div>
                </div>
            </section>
        </section>
        <script src="/script.js"></script>
        <script>
            function w3_open() {
              document.getElementById("mySidenav").style.width = "250px";
            }

            function w3_close() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </body>
</html>