<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width-device-width, initial-scale=1.0"/>
        <title>Movie Tickets, Plays, Sports, Events & Cinemas near Kolkata</title>
        <link rel="stylesheet" href="/public/signup.css"/>
    </head>
    <body>
        <div class="container my-5">
      <h1 class="heading">SignUp</h1>
      <form id="signupForm" class="form-container">
        <input type="text" name="username" id="signupUsername" placeholder="Enter your Username" class="input-field" required>
        <input type="email" name="email" id="signupEmail" placeholder="Enter your Email" class="input-field" required>
        <input type="password" name="password" id="signupPassword" placeholder="Password" class="input-field" required>
        <p style="color: rgb(41, 40, 40)">
          Already have an account?
          <a href="#" onclick="window.location.href='/login'">Login</a>
        </p>
        <div class="btn">
          <input type="submit" class="retro-button" value="Confirm">
        </div>
      </form>
    </div>
    <script src="/script.js"></script>
    </body>
</html>