@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #E9ECEF;
    font-family: 'Noto Sans', sans-serif;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 10px;
}

/* Top Navbar styling */

.top-Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-Navbar-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    gap: 20px;
}

.top-Navbar-elements > img {
    width: 125px;
    height: 50px;
}

.top-Navbar-elements > input {
    width: 600px;
}

.top-Navbar-elements > select {
    border: none;
    margin: none;
    font-size: 14px;
}

#sign-in {
    border: none;
    border-radius: 5px;
    margin: none;
    padding: 5px 15px;
    background-color: rgb(241, 60, 60);
    color: whitesmoke;
}

#sidenav-open {
    border: none;
    margin: none;
    font-size: 24px;
}

#sidenav-open:hover {
    cursor: pointer;
    color: rgb(174, 172, 172);
}

/* Secondary Navbar styling */

.secondary-Navbar {
    display: flex;
    justify-content: center;
    align-self: center;
}

.secondary-Navbar-elements {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 15px;
    padding-left: 220px;
}

.secondary-Navbar-elements > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 400px;
    padding-left: 0px;
    font-size: small;
    gap: 10px;
}

/* Side Navbar styling */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #E9ECEF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #111;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 40px;
}

/* Side Navbar media queries */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}